USE [master]
GO
/****** Object:  Database [CoreWebDb]    Script Date: 03-04-2014 14:59:07 ******/
CREATE DATABASE [CoreWebDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreWebDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoreWebDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CoreWebDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoreWebDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoreWebDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoreWebDb]
GO
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 03-04-2014 14:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[CategoryId] [int] IDENTITY(1000,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[CategoryDesc] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Url]    Script Date: 03-04-2014 14:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Url](
	[UrlId] [int] IDENTITY(1,1) NOT NULL,
	[UrlTitle] [varchar](50) NOT NULL,
	[Url] [varchar](50) NOT NULL,
	[UrlDesc] [varchar](max) NOT NULL,
	[CategoryId] [int] NULL,
	[UserId] [int] NULL,
	[IsApproved] [varchar](1) NULL,
 CONSTRAINT [PK_tbl_Url] PRIMARY KEY CLUSTERED 
(
	[UrlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 03-04-2014 14:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_Url] ADD  CONSTRAINT [DF_tbl_Url_IsApproved]  DEFAULT ('N') FOR [IsApproved]
GO
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF_tbl_User_Role]  DEFAULT ('U') FOR [Role]
GO
ALTER TABLE [dbo].[tbl_Url]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Url_tbl_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tbl_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[tbl_Url] CHECK CONSTRAINT [FK_tbl_Url_tbl_Category]
GO
ALTER TABLE [dbo].[tbl_Url]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Url_tbl_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Url] CHECK CONSTRAINT [FK_tbl_Url_tbl_User]
GO
USE [master]
GO

use [CoreWebDb]

--Dummy Data for tbl_Category
insert into [dbo].[tbl_Category] values('Technology','')
insert into [dbo].tbl_Category values('Math and Science ','')
insert into [dbo].tbl_Category values('Crafts and Hobbies	','')
insert into [dbo].tbl_Category values('Business','')
--Dummy Data for tbl_User
INSERT INTO [dbo].tbl_User VALUES ('peter@manzoorthetrainer.com','peter1@3','A');
INSERT INTO [dbo].tbl_User VALUES ('Jack@manzoorthetrainer.com','jack1@3','U');
INSERT INTO [dbo].tbl_User VALUES ('Jescie@hymenaeos.org','Nam','U');
--Dummy Data for tbl_Url
INSERT INTO tbl_Url VALUES ('Proin','http://www.wooster.edu/','feugiat enim rhoncus Duis magnis dapibus id sagittis leo consectetuer',1008,3,'P');
INSERT INTO tbl_Url VALUES ('varius','http://www.molloy.edu/','Lorem Phasellus nostra Suspendisse Fusce pretium Duis odio sagittis Mauris',1004,11,'R');
INSERT INTO tbl_Url VALUES ('fermentum','http://www.mscfs.edu/','hendrerit velit sem commodo mattis vel nascetur egestas Lorem ac',1003,5,'R');


select * from tbl_Category
select * from tbl_User
select * from tbl_Url
